In [3]:
import pandas as pd
import numpy as np
import os
from dotenv import dotenv_values, find_dotenv

In [12]:
config = dotenv_values(find_dotenv())

print(config)

OrderedDict([('CLEANDATA', 'C:\\Users\\fuem\\Dropbox (Bank of Canada)\\DataEJN\\other_code\\CleanData'), ('RAWDATA', 'C:\\Users\\fuem\\Dropbox (Bank of Canada)\\DataEJN\\other_code\\RawData')])

In [13]:
# set parameters and paths
path = os.path.abspath(config["CLEANDATA"]) + '\\'

In [15]:
# read some data
dummydata = pd.read_pickle(path+'\\Country_Data.pkl')

In [16]:
dummydata

,iso3,year,cent_exp,cent_equal,gdpshare,import_Cons,export_GDP,gdp,imps,exps,tradetogdp,expshare,impshare,consrs_pwt
7205,ABW,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7206,ABW,1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7207,ABW,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7208,ABW,1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7209,ABW,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7203,ZWE,2017,0.000104,0.045740,0.000218,0.300666,0.196589,1.758489e+10,3.585288e+09,2.955043e+09,0.371929,0.000198,0.000240,NaN
7204,ZWE,2018,0.000109,0.036607,0.000399,0.322300,0.261640,3.415607e+10,3.886111e+09,3.443832e+09,0.214601,0.000209,0.000236,NaN
10850,ZWE,2019,NaN,NaN,0.000252,0.301842,0.271635,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10851,ZWE,2020,NaN,NaN,0.000256,0.320435,0.259170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10852,ZWE,2021,NaN,NaN,0.000299,0.343384,0.254114,NaN,NaN,NaN,NaN,NaN,NaN,NaN