In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
# set parameters and paths

dummypath = os.path.abspath(os.path.join(os.getcwd(), '..', '..', '..', 'Dropbox (Bank of Canada)\\dummydata')) + '\\'

In [6]:
dummydata = pd.read_csv(dummypath+'dummydata.csv')

In [7]:
dummydata

         date  value
0    7/1/2022      3
1    7/2/2022      6
2    7/3/2022      3
3    7/4/2022      8
4    7/5/2022      3
5    7/6/2022      7
6    7/7/2022      2
7    7/8/2022      5
8    7/9/2022      6
9   7/10/2022      8
10  7/11/2022      2
11  7/12/2022      1
12  7/13/2022      6
13  7/14/2022      0
14  7/15/2022      4
15  7/16/2022      2
16  7/17/2022      8
17  7/18/2022      5
18  7/19/2022      1
19  7/20/2022      3
20  7/21/2022      6
21  7/22/2022      4
22  7/23/2022      7
23  7/24/2022      2
24  7/25/2022      8
25  7/26/2022      2
26  7/27/2022      3
27  7/28/2022      0
28  7/29/2022      7